<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="GitHubAccessToken" value=""/>
		<add key="GitHubTargetExtensions" value="js,ts"/>
		<add key="GitHubRepositoryName" value="lodash/lodash"/>
	</appSettings>
</configuration>